---
import '../styles/index.css'
import BaseLayout from '../layouts/BaseLayout.astro'
const siteName = 'Beginning'
---

<BaseLayout pageTitle={siteName}>
	

	<!-- Set this siteName -->
	<h1 class="text-4xl font-bold text-center mt-8">Welcome to {siteName}</h1>
  
</BaseLayout>
